{% extends 'layout.html' %}
{% block title %}
  CV - Nadav Vitri | Software Engineer | Personal Website
{% endblock %}
{% block content %}
  <h1>Microsoft</h1>
  <h3>2025 - Present</h3>
  <p>doing great stuff</p>
  <br />
  <h1>Taboola</h1>
  <h3>2019 - 2025</h3>
  <p>
    Key member of the Brand & Agency team, responsible for enhancing campaign serving systems and developing new features. I collaborate with product and business teams to drive impactful features, optimize traffic, and mentor colleagues.<li>RTB & “Banner as Native” Initiative – Played a major role in launching the high-priority “Banner as Native” feature, increasing display traffic by more than 40% (from $30K/day to $100K/day). Act as the go-to person for product managers and support teams.</li>
    <li>RTB Integrations & Infrastructure – Contributed to the integrations with Meta RTB partner and RoqAd for user matching, and actively worked to scale traffic.</li>
    <li>
      <a href="https://www.taboola.com/press-release/authentic-marketplace" target="_blank">Brand Safety & Compliance</a> – Full ownership of brand safety integrations with IAS and DV, ensuring high-quality ad placements.
    </li>
    <li>Leadership & Mentorship – Mentor junior engineers, assist teammates, and provide guidance across the RTB domain</li>
  </p>
  <br />
  <h1>Eduction</h1>
  <h3>2016 - 2019</h3>
  <p>BSc, Computer Science | The Hebrew University of Jerusalem | GPA: 87</p>
{% endblock %}
