{% extends 'layout.html' %}
{% block title %}
  Reading & Learning - Nadav Vitri | Software Engineer | Personal Website
{% endblock %}
{% block content %}
  <h1>Reading & Learning</h1>
  <p>
    Here are some of the resources I’ve found especially valuable on my journey as a software engineer:<li>
      <b><a href="https://www.amazon.com/System-Design-Interview-insiders-Second/dp/B08CMF2CQF" target="_blank">🧠 System Design Interview – Alex Xu</a></b>
      A clear and practical introduction to system design. It covers core components like CDNs, load balancers, and databases in a structured way — a great starting point for preparing for system design interviews.
    </li>
    <br />

    <li>
      <b><a href="https://youtu.be/Rp5vd34d-z4?si=sBWLExtc2tfAjMfY" target="_blank">📘 Algorithms I + II – Princeton University (Coursera)</a></b>
      An excellent, university-level course that revisits data structures and algorithms with real-world examples and coding assignments. I highly recommend it as a foundation before diving into technical interview prep.
    </li>
    <br />
    <li>
      <b><a href="https://www.coursera.org/learn/algorithms-part1" target="_blank">🐍 Python Django Full Course for Beginners – Dave Gray (YouTube)</a></b>
      A fast-paced, beginner-friendly course that helped me get up to speed with Django. It’s clear, hands-on, and perfect for building your first Django project.
    </li>
  </p>
{% endblock %}
