{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Nadav site {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header>
      <h1><a href="{% url 'home' %}">Nadav Vitri</a></h1>
      <nav>
        <a href="{% url 'cv' %}">📄 CV</a>
        <a href="{% url 'reading' %}">📚 Reading & Learning</a>
        <a href="{% url 'posts' %}">📰 Posts</a>
      </nav>
    </header>
    {% block content %} {% endblock %}
    <footer>
      <p>© {{ year }} Nadav Vitri</p>
    </footer>
  </body>
</html>
